body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

@keyframes moveDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-landing-text {
    animation: moveDown 0.8s ease-out forwards;
}
  
#menu {  
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
  
#menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: clamp(4em, 10vw, 30em);
    margin-right: clamp(4em, 10em, 20em);
    flex-basis: 100%;
    position: relative;
    z-index: 2;
    height: 100vh;
}

.menu-item {
    color: rgb(120, 224, 224);
    cursor: pointer;
    font-family: 'Ibarra Real Nova', serif;
    font-size: clamp(3rem, 8vw, 16rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
}

.menu-item:hover {
    border-bottom: 2px solid rgb(120, 224, 224);
}
  
#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}
  
#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}
  
#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}
  
#menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
}
  
#menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
}
  
#menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
  } 
  
#menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
}
  
#menu-background-pattern {
    background-image: radial-gradient(
    rgba(120, 224, 224, .05) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100%;
    z-index: 1;
}
  
#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}
  
#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.1;
}
  
#menu-items:hover > .menu-item {
    opacity: 0.3;
}
  
#menu-items:hover > .menu-item:hover {
    opacity: 1; 
}

.googly-eyes {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 50px;
    width: 50px;
}

.left-eye {
    position: absolute;
}

.white-circle {
    height: 50px;
    width: 50px;
}

.black-circle {
    height: 25px;
    width: 25px;
}

#logo-container {
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: -2.5em;
    display: flex;
    flex-direction: row;
    height: 2em;
    width: 2em;
    gap: 20px;
}

#resume-container {
    display: flex;
    flex-direction: column;
}

#github-logo img, #resume-img, #resume {
    height: 2em;
    width: 2em;
}

#about-paragraph {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 10;
    font-size: clamp(1em, 1.8em, 2em);
    margin-right: clamp(1em, 2em, 2em);
    margin-bottom: clamp(1em, 1em, 2em);
    width: 50%;
}

#about-paragraph h1 {
    text-align: center;
    font-size: 3em;
}

#headshot {
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 50%;
    border: .2em solid white;
    width: 400px;
    height: 400px;
}
  
body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
}

#source-link {
    bottom: 60px;
}
  
#source-link > i {
    color: rgb(94, 106, 210);
}
  
#cat-link > i {
    color: rgb(239, 83, 80);
}
  
.meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
}
  
.meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
  
.meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
}

.meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 900px) {
    #menu {
        flex-direction: column;
        position: relative;
        font-size: 10px;
    }

    #menu-items {
        width: 100%;
        height: 40vh;
        margin: 0;
    }

    .menu-item {
        font-size: 10em;
        padding: 0;
        width: 20%;
    }

    #about-paragraph {
        margin-top: 2em;
        font-size: 3em;
        margin-right: .5em;
        margin-left: .5em;
    }

    #cat-link {
        height: 4em;
        width: 4em;
        font-size: 2em;
    }

    .meta-link {
        position: absolute;
        bottom: 0;
    }
}