h3 {
    font-size: 1.5em;
}

#misc-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#misc-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-container {
    width: 50%;
}

#right-container {
    width: 50%;
}

#left-container > div {
    border-bottom: 2px solid grey;
    width: 75%;
    height: 2em;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#left-container > div.active {
    background-color: rgb(0, 0, 17);
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}

.tic-tac-toe.active {
    border-top: 2px solid grey;
}

@media (max-width: 900px) {
    #misc-container {
        width: 90%;
        flex-direction: column;
        gap: 1.5em;
    }

    #left-container,
    #right-container {
        width: 100%;
    }
}