audio::-webkit-media-controls-panel {
    background-color: rgb(120, 224, 224);
}

.musicContainer {
    color: white;
    margin: 10px;
    font-size: clamp(3em, 8vw, 10em);
    overflow-x: hidden;
}

.logos > a > img {
    height: 50px;
    width: 50px;
}

.faves {
    transform: scale(1.5);
    margin-top: 30px;
}

@media (max-width: 900px) {
    .musicContainer {
        padding: 0 1rem;
    }

    .faves {
        transform: none;
        width: 100%;
        margin-top: 15px;
    }

    .faves audio {
        width: 100%;
    }
}