.galleryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    position: relative;
}

.mainProjectContainer h1 {
    width: 100%;
}

.mainProjectContainer {
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 30px;
    width: 100%;
    color: white;
}

.mainProjectContainer:focus {
    outline: none;
}

.projectCard {
    width: 400px;
    height: 300px;
    transform: scale(0.5);
    position: absolute;
    z-index: 0;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    transition: transform 1s ease, left 1s ease, box-shadow 0.5s ease;
}  

.projectCard.active {
    transform: translateX(0) scale(1);
    z-index: 1;
}

.projectCard.left {
    transform: translateX(-100%) scale(0.5);
}

.projectCard.right {
    transform: translateX(100%) scale(0.5);
}

.projectCard.behind {
    z-index: -1;
}

.projectCard img {
    transition: box-shadow 0.5s ease;
}

.projectCard img:hover {
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.7);
}

.arrow {
    height: 50px;
    cursor: pointer;
}

.arrowContainer {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.rightArrow {
    transform: rotate(180deg);
}

.feverDreamDownload {
    display: flex;
    justify-content: center;
}

.downloadLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.blueLink:link, .blueLink:visited {
    color: rgb(120, 224, 224);
}

@media (max-width: 900px) {
    .galleryContainer {
        min-height: 400px;
    }

    .projectCard {
        width: min(400px, 80vw);
        height: auto;
    }

    .mainProjectContainer {
        font-size: 20px;
        padding: 0 10px;
        overflow-x: hidden;
    }

}