* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  h1, .MuiTypography-h1 {
    font-size: 2rem !important;
  }

  h2, .MuiTypography-h2 {
    font-size: 1.5rem !important;
  }
}