html, body {
  height: 100%;
  /* width: 100%; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bubble-hover {
  transition: all .2s ease-in-out;
}

.bubble-hover:hover {
  background-color: rgb(120, 224, 224);
  border-radius: 50%;
}

#resume.bubble-hover:hover {
  border-radius: 25%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark {
  background-color: #242424;
  color: #ffffff;
  button {
    background-color: #c7c7c7;
  }
  .theme-icon {
    background-color: black;
    border-radius: 50%;
  }
  .sign-up {
    background-color: #242424;
  }
}

.light {
  background-color: #ffffff;
  color: #242424;
  button {
    background-color: #242424;
  }
  .theme-icon {
    background-color: white;
    border-radius: 50%;
  }
}
